@import url("https://fonts.googleapis.cn/css2?family=Major+Mono+Display&family=Noto+Serif+SC:wght@600&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --font-major: "Major Mono Display", monospace;
  --font-noto: "Noto Serif SC", serif;
}

html {
  @apply scroll-smooth;
}

::selection {
  @apply bg-zinc-900 text-white dark:bg-white dark:text-zinc-900;
}

.newsletter img {
  @apply rounded-lg shadow-lg;
}
