main {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #18181b;
  --color-btn-bg: #f4f4f5;
  --color-btn-border: transparent;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #e4e4e7;
  --color-btn-hover-border: transparent;
  --color-btn-active-bg: #d4d4d8;
  --color-btn-active-border: transparent;
  --color-btn-selected-bg: #e4e4e7;
  --color-btn-primary-text: #ffffff;
  --color-btn-primary-bg: #18181b;
  --color-btn-primary-border: transparent;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #27272a;
  --color-btn-primary-hover-border: transparent;
  --color-btn-primary-selected-bg: #27272a;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(255, 255, 255, 0.8);
  --color-btn-primary-disabled-bg: #71717a;
  --color-btn-primary-disabled-border: transparent;
  --color-action-list-item-default-hover-bg: rgba(244, 244, 245, 0.8);
  --color-action-list-item-inline-divider: #e4e4e7;
  --color-action-list-item-default-selected-bg: #e4e4e7;
  --color-action-list-item-default-selected-border: transparent;
  --color-action-list-item-danger-hover-bg: #ffebe9;
  --color-action-list-item-danger-active-bg: #ffebe9;
  --color-action-list-item-danger-hover-text: #cf222e;
  --color-fg-default: #18181b;
  --color-fg-muted: #71717a;
  --color-fg-subtle: #a1a1aa;
  --color-canvas-default: transparent;
  --color-canvas-overlay: #ffffff;
  --color-canvas-inset: #fafafa;
  --color-canvas-subtle: #f4f4f5;
  --color-border-default: #e4e4e7;
  --color-border-muted: #f4f4f5;
  --color-neutral-muted: #f4f4f5;
  --color-accent-fg: #18181b;
  --color-accent-emphasis: #18181b;
  --color-accent-muted: #f4f4f5;
  --color-accent-subtle: #fafafa;
  --color-success-fg: #1a7f37;
  --color-attention-fg: #9a6700;
  --color-danger-fg: #cf222e;
  --color-danger-muted: #ffebe9;
  --color-danger-subtle: #ffebe9;
  --color-primer-shadow-inset: 0 0 transparent;
  --color-primer-shadow-focus: 0 0 0 2px #e4e4e7;
  --color-scale-gray-1: #eaeef2;
  --color-scale-blue-1: #b6e3ff;
  --color-social-reaction-bg-hover: #f4f4f5;
  --color-social-reaction-bg-reacted-hover: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
  main {
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-btn-text: #e4e4e7;
    --color-btn-bg: #27272a;
    --color-btn-border: transparent;
    --color-btn-shadow: 0 0 transparent;
    --color-btn-inset-shadow: 0 0 transparent;
    --color-btn-hover-bg: #3f3f46;
    --color-btn-hover-border: transparent;
    --color-btn-active-bg: #52525b;
    --color-btn-active-border: transparent;
    --color-btn-selected-bg: #27272a;
    --color-btn-primary-text: #18181b;
    --color-btn-primary-bg: #f4f4f5;
    --color-btn-primary-border: transparent;
    --color-btn-primary-shadow: 0 0 transparent;
    --color-btn-primary-inset-shadow: 0 0 transparent;
    --color-btn-primary-hover-bg: #e4e4e7;
    --color-btn-primary-hover-border: transparent;
    --color-btn-primary-selected-bg: #e4e4e7;
    --color-btn-primary-selected-shadow: 0 0 transparent;
    --color-btn-primary-disabled-text: rgba(24, 24, 27, 0.5);
    --color-btn-primary-disabled-bg: #3f3f46;
    --color-btn-primary-disabled-border: transparent;
    --color-action-list-item-default-hover-bg: rgba(39, 39, 42, 0.8);
    --color-action-list-item-inline-divider: #3f3f46;
    --color-action-list-item-default-selected-bg: #27272a;
    --color-action-list-item-default-selected-border: transparent;
    --color-action-list-item-danger-hover-bg: rgba(248, 81, 73, 0.16);
    --color-action-list-item-danger-active-bg: rgba(248, 81, 73, 0.24);
    --color-action-list-item-danger-hover-text: #ff7b72;
    --color-fg-default: #f4f4f5;
    --color-fg-muted: #a1a1aa;
    --color-fg-subtle: #71717a;
    --color-canvas-default: transparent;
    --color-canvas-overlay: #18181b;
    --color-canvas-inset: #000000;
    --color-canvas-subtle: #27272a;
    --color-border-default: #3f3f46;
    --color-border-muted: #27272a;
    --color-neutral-muted: #3f3f46;
    --color-accent-fg: #f4f4f5;
    --color-accent-emphasis: #f4f4f5;
    --color-accent-muted: #3f3f46;
    --color-accent-subtle: #27272a;
    --color-success-fg: #3fb950;
    --color-attention-fg: #d29922;
    --color-danger-fg: #f85149;
    --color-danger-muted: #6e7681;
    --color-danger-subtle: #6e7681;
    --color-primer-shadow-inset: 0 0 transparent;
    --color-primer-shadow-focus: 0 0 0 2px #3f3f46;
    --color-scale-gray-7: #21262d;
    --color-scale-blue-8: #0c2d6b;
    --color-social-reaction-bg-hover: #27272a;
    --color-social-reaction-bg-reacted-hover: #3f3f46;
  }
}

.form-control, .gsc-comment-box-textarea {
  border-radius: 0.75rem;
}